.tooltiptext {
    font-size:small;
    white-space: nowrap;
}
#tooltip {
    position: relative;
}
#tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 35px;
    position: absolute;
    z-index: 99999999999999999999;
    bottom: 140%;
    left: -45%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
}

#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 102%;
    left: 45%;
    margin-left: 1px;
    border-width: 6px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}