body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

td {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  }
 th {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    text-align: center;
    
    
  }

table {
  width: 100%;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#loading{
  width:100%;
  height:100%;
  left:0;
  position:fixed;
  z-index:9999999999999;
  background:url("../public/dist/img/loading.gif") no-repeat center center rgba(0,0,0,0.25)
}